* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button ::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-Light.woff") format("woff"), url("../fonts/Lato-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Light.woff") format("woff"), url("../fonts/Montserrat-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: Lato;
  color: #414141;
  -o-text-overflow: clip;
     text-overflow: clip;
}

.section-inner {
  max-width: 1180px;
  margin: 0 auto;
}

.section-wrap {
  padding-right: 20px;
  padding-left: 20px;
}

.description-item__title {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  margin-bottom: 14px;
}

.description-item__text {
  font-size: 16px;
  line-height: 28px;
  font-weight: lighter;
  color: #6c6c6c;
}

.description-item__icon {
  margin-bottom: 20px;
}

.button-one {
  font-family: "Montserrat";
  display: inline-block;
  font-size: 18px;
  padding: 16px 50px;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  margin-bottom: 10px;
  color: #ffff;
  border: none;
  background: -webkit-gradient(linear, left top, right top, from(#fe985b), to(#fe4Fa7));
  background: -o-linear-gradient(left, #fe985b, #fe4Fa7);
  background: linear-gradient(to right, #fe985b, #fe4Fa7);
}

.button-one:hover {
  background: -webkit-gradient(linear, left top, right top, from(#fe4Fa7), to(#fe985b));
  background: -o-linear-gradient(left, #fe4Fa7, #fe985b);
  background: linear-gradient(to right, #fe4Fa7, #fe985b);
}

.button-two {
  font-family: "Montserrat";
  display: inline-block;
  font-size: 18px;
  padding: 16px 50px;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  color: #414141;
  border: 1px solid #414141;
  background: #ffffff;
}

.button-two:hover {
  color: #fe4Fa7;
  border: 1px solid #fe4Fa7;
}

.button-free {
  font-family: "Montserrat";
  display: inline-block;
  font-size: 18px;
  padding: 16px 50px;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  color: #414141;
  border: none;
  background: #ffffff;
}

.section-header {
  color: #ffffff;
  background: url("../img/Bitmap.webp") no-repeat 50% 50%;
  background-size: cover;
  position: relative;
  -o-text-overflow: clip;
     text-overflow: clip;
}

.section-header .section-inner {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  -o-text-overflow: clip;
     text-overflow: clip;
}

.section-header::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #142729;
  opacity: 0.6;
  z-index: 5;
}

.section-header-logo {
  font-size: 24px;
  font-weight: bold;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.section-header-content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-header-wrapper {
  margin: 0 auto;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  overflow: hidden;
}

.section-header-wrapper__title {
  text-align: center;
  font-weight: bold;
  font-size: 56px;
  line-height: 60px;
  margin-bottom: 16px;
}

.section-header-wrapper__subtitle {
  font-family: "Montserrat";
  text-align: center;
  font-size: 18px;
  line-height: 32px;
  margin: 0 auto 44px;
  overflow: hidden;
}

.section-header-wrapper__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-header-wrapper__form-input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.section-header-wrapper__form-input input {
  width: 100%;
  font-family: "Montserrat";
  font-size: 16px;
  padding: 17px 0px 17px 20px;
  background: rgba(255, 255, 255, 0.25);
  color: #ffff;
  border: none;
  border-radius: 4px;
  outline: none;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.section-header-wrapper__form-input input::-webkit-input-placeholder {
  color: #ffff;
}

.section-header-wrapper__form-input input::-moz-placeholder {
  color: #ffff;
}

.section-header-wrapper__form-input input:-ms-input-placeholder {
  color: #ffff;
}

.section-header-wrapper__form-input input::-ms-input-placeholder {
  color: #ffff;
}

.section-header-wrapper__form-input input::placeholder {
  color: #ffff;
}

.section-header-wrapper__form-input input:focus {
  background: rgba(255, 255, 255, 0.5);
}

.section-promo {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-promo-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-promo-1__content,
.section-promo-1__video {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.section-promo-1__content .title {
  font-size: 34px;
  line-height: 51px;
  font-weight: bold;
  margin-bottom: 56px;
}

.section-promo-1__content .description-item {
  margin-top: 28px;
}

.section-promo-1__video img {
  width: 100%;
  height: auto;
}

.section-promo-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 86px;
  margin-top: 120px;
  border-top: 1px solid #e2e2e2;
  text-align: center;
}

.section-founder {
  background: #f6fafd;
  padding-top: 34px;
}

.section-founder .section-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-founder__content-text {
  font-family: "Montserrat";
  font-size: 24px;
  line-height: 40px;
}

.section-founder__content-name {
  margin-top: 31px;
  font-size: 24px;
  line-height: 29px;
  font-weight: bold;
}

.section-founder__content-post {
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 29px;
}

.section-price {
  padding-top: 120px;
  padding-bottom: 120px;
  text-align: center;
}

.section-price__title {
  font-size: 36px;
  line-height: 51px;
  font-weight: bold;
}

.section-price__subtitle {
  font-size: 16px;
  line-height: 28px;
  font-weight: lighter;
  margin-bottom: 80px;
}

.section-price__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-price__list-item {
  -ms-flex-preferred-size: 370px;
      flex-basis: 370px;
  padding: 60px 45px;
}

.section-price__list-item_title {
  font-size: 14px;
  line-height: 17px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 26px;
}

.section-price__list-item_price {
  margin-bottom: 26px;
}

.section-price__list-item_price .price-color-big {
  color: #fe4fa7;
  font-size: 72px;
  line-height: 86px;
  font-weight: bold;
}

.section-price__list-item_price .price-color-small {
  font-size: 14px;
  line-height: 17px;
  font-weight: bold;
}

.section-price__list-item_description {
  font-size: 14px;
  line-height: 28px;
  font-weight: lighter;
  margin-bottom: 50px;
}

.section-price__list-item.active {
  background: #f6fafd;
}

.section-started {
  text-align: center;
  background: -webkit-gradient(linear, left top, right top, from(#fe985b), to(#fe4Fa7));
  background: -o-linear-gradient(left, #fe985b, #fe4Fa7);
  background: linear-gradient(to right, #fe985b, #fe4Fa7);
  color: #ffffff;
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-started__title {
  font-size: 55px;
  line-height: 60px;
  font-weight: bold;
  margin-bottom: 26px;
}

.section-started__text {
  font-family: "Montserrat";
  margin: 0 auto 40px;
  font-size: 20px;
  line-height: 30px;
}

.section-footer {
  padding-top: 80px;
}

.section-footer__logo {
  text-align: center;
  font-size: 24px;
  line-height: 29px;
  font-weight: bold;
  margin-bottom: 30px;
}

.section-footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 75px;
}

.section-footer__nav li a {
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #464646;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.section-footer__nav li a.active,
.section-footer__nav li a:hover {
  color: #fe50a6;
}

.section-footer__copyright_and_links {
  font-family: "Montserrat";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
  line-height: 18px;
  color: #464646;
}

.helper-links li + li {
  margin-left: 20px;
}

.helper-links a:hover {
  text-decoration: underline;
}

@media (min-width: 576px) {
  .section-header .section-inner {
    min-height: 100vh;
  }

  .section-header-logo {
    padding-top: 35px;
  }

  .section-header-wrapper__form-input {
    margin-right: 40px;
  }

  .section-promo-2 .description-item + .description-item {
    margin-left: 40px;
  }

  .section-price__subtitle {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 767px) {
  .section-founder__img {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }

  .section-founder__content {
    -ms-flex-item-align: center;
        align-self: center;
    padding-left: 50px;
  }
}

@media (min-width: 768px) {
  .section-header-wrapper__subtitle {
    width: 75%;
  }

  .section-promo-1__content {
    padding-right: 90px;
  }

  .section-footer__nav li + li {
    margin-left: 60px;
  }

  .section-footer {
    padding-bottom: 80px;
  }

  .helper-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 992px) {
  .section-started__text {
    width: 50%;
  }
}

@media (max-width: 767px) {
  .section-promo-1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .section-promo-1__video {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-bottom: 20px;
  }

  .section-founder__content {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }

  .section-founder__img img {
    max-width: 100%;
  }

  .section-founder .section-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .section-footer__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }

  .section-footer__nav li + li {
    margin-top: 10px;
  }

  .section-footer {
    padding-bottom: 40px;
  }

  .section-footer__copyright_and_links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }

  .helper-links {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-top: 10px;
  }
}

@media (max-width: 575px) {
  .section-header-wrapper__form-input {
    margin-bottom: 20px;
  }

  .section-header-wrapper__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .section-header-wrapper__form .button-one {
    width: 100%;
  }

  .section-promo-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .section-promo-2 .description-item + .description-item {
    margin-top: 30px;
  }

  .section-price__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}