// ------ ПЕРЕМЕННЫЕ -------------
$minwidth:320px;
$mw:970; // Ширина контента
$md1:$mw+12;
$md2:991.98;
$md3:767.98;
$md4:479.98;

//------ HEADER -------------

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #1c242a;
    z-index: 50;

    // .header__container
    &__container {
        position: relative;
        display: flex;
        align-items: center;
        height: 75px;

        // @media (max-width:$md3+px) {
        //     justify-content: space-between;
        // }
    }

    // .header__logo
    &__logo {
        width: 144px;
        z-index: 4;
        position: relative;

        @media (max-width:$md3+px) {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            ;
        }

    }

}

// .menu__icon
.burger-menu {
    @media (max-width:$md3+px) {
        width: 25px;
        height: 20px;
        background: url(../img/block-header/Burger-menu-icon.svg);
        position: relative;
        left: 15px;
        cursor: pointer;
        border: none;
        outline: none;
        z-index: 10;
        transition: 0.5s;
    }
}

.menu {
    flex: 1 1 auto;
    padding-left: 30px/950px * 100%; // деление ширину контента

    // BURGER .menu__body
    &__body {
        @media (max-width:$md3+px) {
            z-index: 3;
            display: none;
            text-align: center;
            background: rgba(28, 36, 42, 0.9);
            position: fixed;
            width: 100%;
            height: 100vh;
            left: 0;
            top: 0;
            padding-top: 120px;
            padding-bottom: 20px;
            overflow: auto;
            transition: all 0.3s ease 0s;

            &:after {
                content: "";
                background-color: #1c242a;
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 75px;
            }

            &._active {
                opacity: 1;
                display: block;
            }
        }
    }

    // .menu__list
    &__list {
        display: flex;
        justify-content: center;

        li {
            margin: 0px 15px;
        }

        @media (max-width:$md3+px) {
            display: block;

            li {
                margin-bottom: 30px;

                &:last-child {
                    margin-bottom: 0px;
                }
            }
        }
    }

    // .menu__link
    &__link {
        font-family: "PFD";
        text-transform: uppercase;
        color: #fff;
        letter-spacing: 1.4px;

        @media (min-width: 992px) {
            &:hover {
                color:#bb9c66;
            }
        }

        @media (max-width:$md3+px) {
            font-size: 30px;

        }
    }
}

.action-header {
    display: flex;
    align-items: center;

    // .action-header__region
    &__region {
        @extend .menu__link; // @extent "имя__класса" = подключить все стили из "имя__класса"
        z-index: 3;
        position: relative;
        background: url('../img/icons/globe.png') left no-repeat;
        line-height: 18px; // шрифт по высоте иконки
        padding-left: 30px;
        min-width: 18px;
        min-height: 18px;

        @media (max-width:890px) {
            padding-left: 0;

            span {
                display: none;
            }
        }

        @media (max-width:$md3+px) {
            padding-left: 30px;
            display: inline-block;
            margin-top: 45px;

            span {
                display: inline-block;
            }
        }
    }

    // .action-header__user
    &__user {
        margin-left: 15px;

        @media (min-width:890px) {
            margin-left: 30px;
        }

    }
}

.user-header {

    // .user-header__icon
    &__icon {
        cursor: pointer;
        z-index: 3;
        position: relative;
    }

    // .user-header__menu
    &__menu {
        z-index: 3;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 45px;
        right: 0;
        background-color: #1c242a;
        padding: 20px;
        transition: all 0.3s ease 0s;

        @media (max-width:$md3+px) {
            width: 100%;
        }

        li {
            margin-bottom: 8px;

            &:last-child {
                margin-bottom: 0px;
            }
        }

        &._active {
            opacity: 1;
            visibility: visible;
            top: 65px;
        }
    }

    // .user-header__link

    &__link {
        color: #fff;
        padding-left: 30px;
        display: inline-block;
        line-height: 18px;

        // .user-header__link_1
        &_1 {
            background: url('../img/icons/menu/01.png') 1px center no-repeat;
        }

        // .user-header__link_2
        &_2 {
            background: url('../img/icons/menu/02.png') left no-repeat;
        }

        // .user-header__link_3
        &_3 {
            background: url('../img/icons/menu/03.png') 3px center no-repeat;
        }

        // .user-header__link_4
        &_4 {
            background: url('../img/icons/menu/04.png') left no-repeat;
        }

        @media (min-width: 992px) {
            &:hover {
                text-decoration: underline;
            }
        }
    }

}

//------ /HEADER ------------